<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap10 rescap">

  <!-- Using the standard Unsigned publisher name for Developer Mode loose registration -->
  <Identity Name="NpuOrganizeBridge.Identity" Publisher="CN=Unsigned" Version="1.0.0.0" ProcessorArchitecture="x64" />

  <Properties>
    <DisplayName>NpuOrganizeBridge Identity</DisplayName>
    <PublisherDisplayName>Unsigned</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <uap10:AllowExternalContent>true</uap10:AllowExternalContent>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.26100.0" MaxVersionTested="10.0.26226.0" />
  </Dependencies>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="systemAIModels" />
  </Capabilities>

  <Applications>
    <Application Id="App" Executable="NpuBridge.exe" uap10:TrustLevel="mediumIL" uap10:RuntimeBehavior="win32App">
      <uap:VisualElements DisplayName="NpuOrganizeBridge" Description="NPU Organize Bridge for Raycast"
                          BackgroundColor="transparent" Square150x150Logo="Assets\Logo.png"
                          Square44x44Logo="Assets\SmallLogo.png">
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>
